/* * {
    outline: 1px solid red;
} */

.page {
    max-width: 1280px;
    height: 100vh;
    margin: 0px auto;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: #fff;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

.header {
    display: flex;
    margin: 45px auto 0px;
    box-sizing: border-box;
    max-width: 880px;
    min-height: 74px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
    margin: 0px;
    aspect-ratio: 4.3/1;
    background-image: url("./images/logo.svg");
    max-width: 142px;
    width: 100%;
    background-repeat: no-repeat;
    align-items: flex-start;
    background-size: contain;
}

.profile {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 880px;
    min-height: 120px;
    margin: 40px auto 51px;
}

.profile__profile {
    box-sizing: border-box;
    display: flex;
    gap: 30px;
    align-items: center;
    min-width: 487px;
}

.profile__avatar {
    background-image: url("./images/Avatar.jpg");
    border-radius: 50%;
    max-width: 120px;
    width: 100%;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.profile__profile-info {
    max-width: 336px;
    display: flex;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex-direction: column;
}

.profile__name-edit {
    display: flex;
    flex-direction: row;
    max-width: 336px;
    justify-content: space-between;
    align-items: flex-end;
}

.profile__about {
    margin: 16px 0px 0px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.profile__name {
    font-size: 42px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0px;
    max-width: 294px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.profile__edit-button {
    border: none;
    background-image: url("./images/EditButton.svg");
    min-width: 24px;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0px 0px 8px 18px;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.profile__add-button {
    box-sizing: border-box;
    border: none;
    background-image: url("./images/Vector.svg");
    min-width: 150px;
    aspect-ratio: 3/1;
    background-repeat: no-repeat;
    border: 2px solid rgba(255, 255, 255, 1);
    background-position: center;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.places {
    max-width: 880px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 282px));
    /* grid-template-columns: repeat(auto-fit, 282px); */
    grid-template-rows: auto;
    gap: 20px 17px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px auto;
}

.place {
    box-sizing: border-box;
    border-radius: 10px;
}

.place__image {
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
    border-radius: 10px 10px 0px 0px;
}

.place__name {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
}

.place__title {
    color: #000000;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 24px 0px 27px 21px;
    max-width: 185px;
}

.place__like {
    background-image: url("./images/heart.svg");
    min-width: 22px;
    aspect-ratio: 1.16/1;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: left;
    max-width: 880px;
    margin: 67px auto 60px;
}

.footer__copyright {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(84, 84, 84, 1);
    margin: 0px;
}

.popup {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: none;
    align-items: center;
    justify-content: center;
    padding: 19px;
}

.popup__opened {
    display: flex;
}

.popup__container {
    position: relative;
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    max-width: 430px;
    width: 100%;
}

.popup__close {
    background-image: url("./images/Close\ Icon.svg");
    width: 32px;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    position: absolute;
    top: -40px;
    right: -40px;
    background-color: transparent;
    border: none;
}

.popup__title {
    color: #000000;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0px 0px 24px;
}

.popup__form {
    padding: 34px 36px 36px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.popup__form-fieldset {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.popup__input {
    border: none;
    display: block;
    font-family: inherit;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 27px;
    padding: 0px 0px 11px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.popup__button {
    width: 100%;
    border: none;
    background-color: #000000;
    border-radius: 2px;
    font-family: inherit;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 45px;
    padding: 0px;
    min-height: 50px;
}



@media screen and (max-width: 881px) {
    .places {
        max-width: 581px;
    }

    .header {
        min-height: 56px;
    }

    .header__logo {
        margin-left: 27px;
        max-width: 104px;
    }

    .profile__about {
        margin: 6px 0px 0px;
        font-size: 14px;
        line-height: 16.94px;
        text-align: center;
    }

    .profile__name {
        font-size: 27px;
        text-align: center;
        line-height: 32px;
    }

    .profile__edit-button {
        min-width: 18px;
        margin: 0px 0px 5px 10px;
    }

    .profile {
        margin: 42px 27px 36px;
    }

    .footer {
        margin: 67px 27px 60px;
    }

}





@media screen and (max-width: 700px) {

    .profile {
        flex-direction: column;
        margin: 42px auto 36px;
        max-width: 282px;
    }

    .profile__profile {
        flex-direction: column;
        gap: 22px;
        min-width: 282px;
    }

    .profile__profile-info {
        align-items: center;

    }

    .profile__add-button {
        min-width: 282px;
        aspect-ratio: 141/25;
        margin-top: 34px;
    }

    /* .profile__profile {
        min-width: 282px;
    } */
}


@media screen and (max-width: 635px) {
    .places {
        max-width: 282px;
    }

    .popup__close {
        width: 20px;
        top: -36px;
        right: 0px;
    }

    .popup__container {
        max-width: 282px;
    }

    .popup__form {
        padding: 25px 22px;
    }

    .popup__title {
        font-size: 18px;
        font-weight: 900;
        line-height: 22px;
        margin: 0px 0px 46px;
    }

    .popup__input {
        margin-top: 27px;
        padding: 0px 0px 11px;
    }

    .popup__button {
        min-height: 46px;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        max-width: 282px;
        margin: 48px auto 36px;
    }

    .footer__copyright {
        font-size: 14px;
        line-height: 16.94px;
    }
}