.popup__button {
    width: 100%;
    border: none;
    background-color: #000000;
    border-radius: 2px;
    font-family: inherit;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 45px;
    padding: 0px;
    min-height: 50px;
}
@media screen and (max-width: 635px) {
    .popup__button {
        min-height: 46px;
        line-height: 16.94px;
        font-size: 14px;
    }
}
.popup__button:hover {
    opacity: 0.8;
}