.popup__close {
    background-image: url("./../../../images/Close\ Icon.svg");
    width: 32px;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    position: absolute;
    top: -40px;
    right: -40px;
    background-color: transparent;
    border: none;
}
@media screen and (max-width: 635px) {
    .popup__close {
        width: 20px;
        top: -36px;
        right: 0px;
    }
}